<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

      <script type="text/javascript" src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
      <script src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
      <link rel="stylesheet" href="/assets/css/commonCSS.css" />

      <script src="/plugins/notification.js" charset="utf-8"></script>
      <script src="/assets/js/common.js" charset="utf-8"></script>
      <title>Dashboard-Mentor</title>
   </head>

   <body>
<%- include('../partials/navBar.ejs') %>

<div class="container">
   <div class="row">
      <div class="col-md-8">
         <div class="row">
            <div class="col-md-4 mt-3 d-flex justify-content-center">
               <div class="card-rounded opensans-lg" style="background: linear-gradient(to right, #e0c4ec, #ebd8f3); height: 150px; width:150px; padding: 8px;">
                  <br>Mentors
                  <p class="opensans-xxl text-center"><%- adminInsights.mentorCount %></p>
               </div>
            </div>
            <div class="col-md-4 mt-3 d-flex justify-content-center">
               <div class="card-rounded opensans-lg" style="background: linear-gradient(to right, rgb(173, 206, 226), #eeeaf0); height: 150px; width:150px; padding: 8px;">
                  <br>Mentees
                  <p class="opensans-xxl text-center"><%- adminInsights.menteeCount %></p>
               </div>
            </div>
            <div class="col-md-4 mt-3 d-flex justify-content-center">
               <div class="card-rounded opensans-lg" style="background: linear-gradient(to right, #beedcc, #ece7ef); height: 150px; width:150px; padding: 8px;">
                  <br>Live Events
                  <p class="opensans-xxl text-center"><%- adminInsights.activeEvent %></p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 p-0 mt-3">
         <div class="opensans-xl text-center">Top 5 Events</div>
         <div style="max-width: 100%"><canvas id="event-completion-chart"></canvas></div>
      </div>

      </div>
   </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
         const chartLabels = ('<%= chartLabels %>')?.replace(/&#34;/g, '"')
         const chartValues = '<%= chartValues %>'
         $(document).ready(function () {

      const allNavItems = document.querySelectorAll('.navbar-nav .nav-item');
      allNavItems.forEach(function(item) {
        item.classList.remove('active');
      });
      const activeNavItem = document.getElementById('admin-dashboard-nav-item');
      if (activeNavItem) {
        activeNavItem.classList.add('active');
      }
      })

const ctx = document.getElementById('event-completion-chart');

new Chart(ctx, {
  type: 'bar',
  data: {
    labels: JSON.parse(chartLabels),
    datasets: [{
      label: 'Completion rate',
      data: JSON.parse(chartValues),
      borderWidth: 1
    }]
  },
  options: {
   indexAxis: 'y',
   scales: {
        y: {
         beginAtZero: true,
            ticks: {
                format: {
                    style: 'percent'
                }
            }
        }
    }

  }
});

      </script>
   </body>
</html>
