<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/css/commonCSS.css" />

<script src="/plugins/notification.js" charset="utf-8"></script>
<script src="/assets/js/common.js" charset="utf-8"></script>


<!-- Datatable scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
<!-- Datatable scripts ends -->


<title>Events</title>
</head>
<%- include('../partials/navBar.ejs') %>
<div class="container" style="max-width: 1600px">
   <div class="row">
      <div class="col-md-12">
         <div class="d-flex justify-content-end">
            <div class="btn-group dropleft m-1">
               <button class="btn btn-success" data-toggle="modal" data-target="#add-event-modal">Add Event</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="add-event-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Event 🏆</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Event Name</label>
                                 <input type="text" class="form-control" id="event-name"
                                    placeholder="Enter event name" />
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Form Name</label>
                                 <select class="form-control" id="form-id">
                                    <% for(let i=0; i < formList.length; i++) { %>
                                       <option value="<%=formList[i].id %>">
                                          <%=formList[i].name %>
                                       </option>
                                       <% } %>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label for="exampleFormControlSelect1">Mentee Group</label>
                                 <select class="form-control" id="mentee-team-id">
                                    <% for(let i=0; i < teamList.length; i++) { %>
                                       <option value="<%=teamList[i].id %>">
                                          <%=teamList[i].name %>
                                       </option>
                                       <% } %>
                                 </select>
                              </div>

                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Description</label>
                                 <input type="text" class="form-control" id="description"
                                    placeholder="Enter description" />
                              </div>
                              <div class="form-group">
                                 <label for="exampleFormControlSelect1">Mentor Group</label>
                                 <select class="form-control" id="mentor-group-id">
                                    <% for(let i=0; i < groupList.length; i++) { %>
                                       <option value="<%=groupList[i].id %>">
                                          <%=groupList[i].name %>
                                       </option>
                                       <% } %>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" onclick="createAdminEvent()"> Create Event
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Modal Ends -->

         </div>
         <div id="event-list-table">
            <div class="opensans-xxxl text-center">Events List</div>
            <table class="table table-striped table-bordered custom-table" id="event-table1"
               style="width: 100%; white-space: nowrap"></table>
         </div>
      </div>
   </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>

   function createAdminEvent() {
      const eventName = document.getElementById("event-name").value
      const description = document.getElementById("description").value
      const teamID = document.getElementById("mentee-team-id").value
      const groupID = document.getElementById("mentor-group-id").value
      const formID = document.getElementById("form-id").value
      console.log({ eventName, description, teamID, groupID, formID })
      if (eventName == "") return demo.showNotification("left", "bottom", "Event Name cant be empty");
      else if (teamID == "") return demo.showNotification("left", "bottom", "Team Name cant be empty");
      else if (groupID == "") return demo.showNotification("left", "bottom", "Group Name cant be empty");
      else if (formID == "") return demo.showNotification("left", "bottom", "Form Name cant be empty");
      else {
         fetch("/api/events/", {
            method: "POST",
            headers: {
               "Content-Type": "application/json",
               Authorization: `Bearer ${sessionStorage.getItem('token')}`
            },
            body: JSON.stringify({
               eventName,
               description,
               teamID,
               groupID,
               formID
            }),
         })
            .then((response) => response.json())
            .then((response) => {
               response.error ? demo.showNotification("left", "bottom", response.message) : demo.showNotification("left", "bottom", response.message);
               $("#add-event-modal").modal("hide");
               setTimeout(()=>{
                location.reload();
              }, 500)
               return;
            });
      }
   }

      $(document).ready(function () {
      const allNavItems = document.querySelectorAll('.navbar-nav .nav-item');
      allNavItems.forEach(function(item) {
        item.classList.remove('active');
      });
      const activeNavItem = document.getElementById('events-nav-item');
      if (activeNavItem) {
        activeNavItem.classList.add('active');
      }

      const eventTable = new DataTable("#event-table1", {
         // data: data,
         ajax: {
            url: "/api/events?details=true",
            type: "GET",
            headers:{
                     Authorization: `Bearer ${sessionStorage.getItem('token')}`
                  },
            dataSrc: function (json) {
               return json.data;
            },
         },
         responsive: true,
         pageLength: 25,
         paging: true,
         autoWidth: true,
         deferRender: true,
         order: [],
         initComplete: function (settings, json) {
            $("#loader-bg").remove();
            $("div.dataTables_filter input").attr("autocomplete", "off").css("font-size", 14);
         },
         columns: [
            // {
            //    data: "lastname",
            //    title: "Full Name",
            //    render: (data, type, row, meta) => {
            //       return `<span title="${data}">${row.firstname} ${row.lastname}</span>`;
            //    },
            // },
            { data: "name", title: "Event Name", render: (data, type, row, meta) => {
                  return `<a style="color:#247881" href='/events-inner/${row.id}'>${row.name}</a>`;
               }, },
               { data: "status", title: "Status", responsivePriority: 3, width: "20%" },
               { data: "created_at", title: "Created at", responsivePriority: 4, width: "20%" },
            // {
            //    data: "lastname",
            //    title: "Action",
            //    render: (data, type, row, meta) => {
            //       return `<img class="delete-icon ml-1" data-toggle="tooltip" data-placement="top" title="Delete" onclick="deleteUser('${row.id}')" src="../assets/img/delete.png" width="20px" />`;
            //    },
            // },
         ],
      });
      })
</script>